.login {
    width: 30%;
    margin: 0 auto;
    /* height: 100vh; */
    margin-top: 200px;
}

.login-form {
    border: 3px solid #FE5151;
    border-radius: 8px 8px 8px 8px;
    text-align: center;
}

.login-form>div {
    padding: .6rem 1rem;
}

.login-form>div>div {
    width: 100%;
}

.login-form fieldset {
    border-color: #FE5151 !important;
}

.login-form label[data-shrink="true"] {
    color: #FE5151 !important;
}

.btn-container {
    padding: 0 !important;
}

.login-form button {
    background-color: #FE5151;
    color: #fff;
    font-family: 'Poppins' ,sans-serif !important;
    width: -webkit-fill-available;
    margin-top: 2.5rem;
    height: 60px;
    border-radius: 0;
    text-transform: none;
    font-size: 1.5rem;
}
.login-form button:hover {
    background-color: #FE5151;
    opacity: .9;
}

.error-snackbar>div {
    background-color: #ec0909;
    font-family: 'Poppins' ,sans-serif !important;
}
.success-snackbar>div {
    background-color: green;
    font-family: 'Poppins' ,sans-serif !important;
}

@media only screen and (max-width: 1000px) {
    .login {
        width: 40%;
    }
    .login-form button {
        margin-top: 2rem;
    }
}

@media only screen and (max-width: 700px) {
    .login {
        width: 60%;
    }
}

@media only screen and (max-width: 600px) {
    .login {
        width: 70%;
        margin-top: 150px;
    }
    .login-form>div {
        padding: .6rem 1rem;
    }
    .login-form button {
        font-size: 1.2rem;
    }
}
@media only screen and (max-width: 500px) {
    .login-form button {
        margin-top: 1.5rem;
    }
}
